[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/gallery"]
	path = quickstart/themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
